* { 
    margin: 0; 
    padding: 0; 
}

body{

    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;

}
/*==========================================*/
/*=================Globales=============*/
/*==========================================*/


/*==========================================*/
/*=================Navbar=============*/
/*==========================================*/

.bg-blue{

    background-color: #2c3e50!important;

}

.bg-blue-two{
    background-color: #004b8c;
}

i{
    font-size: 16px;
}


.mr-icons{
    margin-right: 3rem;
}

.font-size-nav{

    font-size: 15px;
}

.nav-ml{
    
    margin-left: 1.5rem;
}

p-0{

    padding: 0;
}

.width-contact{
    width: 9rem;
}

.nav-link-end:hover{
    text-decoration: none;
}

.nav-link-end {
    display: block;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.nav-link-hover{
    color: white;
}

.nav-link-hover:hover{
   
    color: rgb(9, 230, 185);
    ;
}


@media (max-width: 1050px) and (min-width: 992px) {
   
    i{
        font-size: 13px;
    }
    .nav-link-size{
        font-size: 15px;
    }
}

.ml-btn{
     margin-left: 1rem;
}

@media (max-width: 991px){

    .nav-link-personalized {
        display: block;
        padding: 0.5rem 0rem;
    }
}

@media (min-width: 992px){

    .nav-link-personalized {
        display: block;
        padding: 0.5rem 0.8rem;
    }
}

.btn-size{
    font-size: 0.8rem;
}


.nav-link-personalized:hover{
    
    text-decoration: none;
}

.btn-ingresar-navbar{

    height: 2.5rem;
    width: 10rem; 
    border-radius: 1.25rem; 
    border: 2px solid; 
    border-color:  #18BC9C;
}


.btn-registro-navbar{

    height: 2.5rem;
    width: 10rem; 
    border-radius: 1.25rem; 
    border: 1px solid white;
    color: white;
    
}

.btn-registro-navbar:hover{

    color: white;
    background: rgba(255, 255, 255, 0.527);
    transition: 0.5s;
}

.border-radius-btn{

    border-radius: 1.25rem;
    width: 8rem;
}

.bg-white{

    background-color: white;
}


/*==========================================*/
/*=================Home page Styles=============*/
/*==========================================*/


/*==========================================*/
/*=================Seccion 1=============*/
/*==========================================*/


.posicion-slider{
    right: 40%;
    bottom: 75%;
    left: 0%;
}


.descripcion{ 
    position: absolute;  
    color: black;
    height: auto;
    max-width: auto;
    left: 20%;
    top: 9px;
}

.color-card-carrusel{
    background-color: rgb(255, 255, 255);
}

.card-title-color{
    font-size: 2rem;
    color: #072146;
}

.btn{

    border-radius: 1.25rem;
}


/*==========================================*/
/*=================Seccion 2=============*/
/*==========================================*/
.bg-photo{

    background-image: url('/assets/images/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
}

.margin-top-center{
   
    margin-top: 7rem;
}

.card-title{

    font-size: 1.2rem;
    transition: 1s;
}

.card-text{
    font-size: 0.9rem;
}



.transiciones{

    overflow: hidden;
    cursor: pointer;
    
}

.card-body-large{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    height: 14rem;
}



.btn-transicion{

    position: absolute;
    transition-property: bottom;
    transition: 0.6s;
    bottom: -3rem;

}

.btn-outline-primary:hover {
    color: #2C3E50;
    border-color: #2C3E50;
    color: white;
    transition: 0s;
}



.btn-transicion-dos{

    position: absolute;
    transition-property: bottom;
    transition: 0.6s;
    bottom: 1rem;
}

.btn-transicion-tres{

    position: absolute;
    bottom: -3rem;
    transition: 0.6s;

}

.nav-link-personalized-one{
    
    display: block;
    padding-top: 1rem;
}



dropdown-css{
    box-sizing: 80px;
}


.banner-container{
    background-image: url(https://silversd.com/wp-content/uploads/2016/09/banner-background-hands-typing-on-mac-laptop-keyboard-1500x400.jpg);
    max-width: 100%; 
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.banner-ob{
    padding-top: 100px;
    color: white;
    position: relative;
    text-align: center;
}
.btn-signin{
    border-radius: 15px;
}
/*==========================================*/
/*=================Seccion 3=============*/
/*==========================================*/


.col-lg-4-personalized{

    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}




.img-zoom:hover img{
    
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    transition: ease-in-out .5s;
    
}

.mayus-title{

    font-size: 1.3rem;
    transition: 0.5s;
}


.container-img{
    overflow: hidden;
}

.img-background-rgba::after{
    
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.616);
    transition: 1s;
        
}

.img-background-rgba-white::after{
    
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.76);
    transition: 1s;
    
}


.box-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: calc(60% - 30px);
    z-index:1;
    transition: 1s;
    
}

.box-text span{
    display: none;
}

.box-text:hover{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: calc(45% - 30px);
    transition: 0.7s;
    z-index:1;
}

.box-text:hover span{
    display: block;
}

.text-color-title{

    color: #003761;
    
}

.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}

.dropdown-item:active{
    
    color: #fff;
    text-decoration: none;
    background-color: rgb(255, 255, 255);

}

@media (min-width: 400px) and (max-width: 991px) {
    .dropdown-size{
        width: 380px;
    }
}



/*==========================================*/
/*=================Seccion 4=============*/
/*==========================================*/

.form-control{
    resize: none;
}

.contacto{
    
    background-color: rgb(243, 243, 243);
}

/*==========================================*/
/*=================Footer=============*/
/*==========================================*/

.social-icon{
    font-size: 1.5rem;
    color: #fff;
}



/*==========================================*/
/*================Registro Html Page==============*/
/*==========================================*/


/* .form {
    max-width: 450px;
    
    // positioning context
    > div {
      position: relative;
  
      // Looks like placeholder
      > label {
        opacity: 0.3;
        position: absolute;
        top: 22px;
        left: 20px;
      }
    }
  } */


  input[type=number]::-webkit-outer-spin-button,
  
  input[type=number]::-webkit-inner-spin-button {
  
      -webkit-appearance: none;
  
      margin: 0;
  
  }
  
  input[type=number] {
  
      -moz-appearance:textfield;
  
  }

.card-hb-1 {

    border-left: 1rem solid #1cc88a;
}

.card-hb-2{

    border-left: 1rem solid #36b9cc;
}

.card-hb-3{
    border-left:  1rem solid #f6c23e;
}

.height-div{

    margin-top: 150px;
    margin-bottom: 150px;
}

.font-size-title{

    font-size: 1.6rem;
}
/*==========================================*/
/*================Home Banking==============*/
/*==========================================*/

.HomeBankingOptions h4, .HomeBankingAccess h3, .HomeBankingAccess h5 .HomeBankingAccess h6 {
    font-family: 'Nunito Sans', sans-serif;
}
/*==========================================*/
/*================Section 1==============*/
/*==========================================*/
.card-hb{
    height: 260px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
   }
   .card-hb:hover {
      box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
      transform: scale(1.10, 1.10);
   }
   .card__info {
      height: 30px;
      position: absolute;
      bottom: 15px;
      width: 100%;
      text-align: center;
      background-color: #fff;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
   }
   .pending {
      cursor:not-allowed;
   }
   .loading {
      height: 100px;
      width: 100px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }
   .cardApprovalContent{
      border-radius:  10px;
      border: 2px solid  #f39c12 !important;
      height: 150px;
      width: 250px;
      background-image: url(/assets/images/creditcard.png);

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color:  white;
   }
   .img-tarjeta{
      height: 30px;
      width: 30px;
   }
   .name-tarjeta{
      font-size: 15px;
      margin-left: 10px;
   }
   .card-text-vto{
   font-size: 10px;
   }
   .img-solicita-tarjeta{
      height: 150px;
   }

   .num-margin-top{
      
       margin-top: 70px;
   }


   .contenedor-prestamos{
       height: 200px;
       background-color: #fff;
       border: 2px solid #18BC9C;
       border-radius: 40px;
   }
   .contenedor-prestamos p{
    font-size: 1.2rem;
   }

   .monedas{
       color: #f6c23e;
       font-size: 2rem;
   }
/*==========================================*/
/*=================Seccion 2=============*/
/*==========================================*/
.animacion-container{
    /* overflow: hidden; */
}

.mover{
    position: relative;
    background-color: #18BC9C;
    left: 100%;
   
}


/*==========================================*/
/*================Section 3==============*/
/*==========================================*/


.accesos {
    position: relative;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0px 10px 8px -8px rgba(0, 0, 0,0.1);
}

.accesos i{
    font-size: 2rem;
    padding-left: 5px;
}

.accesos h5 {
    font-size: 0.9rem;
    text-align: center;
}

.accesos .links {
    position: absolute;
    width: 100%
}

@media (max-width: 768px) { 
    .posicion-slider {
        right: 40%;
        bottom: 86%;
        left: 0%;
    }
 }

 @media (min-width: 992px) { 
    .descripcion {
        position: absolute;  
        color: black;
        height: auto;
        max-width: 50%;
        left: 20%;
    }
 }

 .container-cards-padding {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 37%;
    bottom: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 6%;
    color: #fff;
    height: 17%;
    text-align: center;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
    background: rgb(255, 255, 255);
}


/* No borrar importante */
.carousel-control-prev-icon {
    background-image: url();
}


.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.4rem 1rem;
}

.m-num-card {
    margin-top: 78px;
    margin-bottom: 3px;
    font-size: 18px;
}

.name-card{

    margin-left: 10px;
    font-size: 12px;
}

.font-size-vto{

    font-size: 10px;
    margin-bottom: 5px;
}


.cargando-tarjeta-img {
    color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 40%;
    animation: myframes linear 1.2s infinite;
    transform-origin: 50% 50%;
    float: left;
    position: relative;
    left: 0%;
    top: -2%; 
}
@keyframes myframes {
   0% {
       transform:  rotate(0deg);
   }
   100% {
       transform:  rotate(360deg);
   }
}

.bg-imagen{

    background-image:  url('/assets/images/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.form-control-two{
    height: calc(2.5em + 0.75rem + 2px)
}
/*==========================================*/
/*=================Infopage=============*/
/*==========================================*/

.infopage-bg1{
    background-image: url(/assets/images/info1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 450px;
    align-items: center;
}

.infopage-bg2{
    background-image: url(/assets/images/info2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 450px;
    align-items: center;
}

.infopage-bg3{
    background-image: url(/assets/images/info3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 450px;
    align-items: center;
}

.infopage-bg4{
    background-image: url(/assets/images/info4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 450px;
    align-items: center;
}

.box {
	max-height: 350px;
	overflow-y: scroll;
	padding: 50px;
	background: rgba(255, 255, 255, .8);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);

}

.infopage-img {
	margin-top: 15px;
	height: 80px;
	width: 80px;
}

.footerinfo {
	background-color: rgb(7, 18, 58);
	padding: 30px 30px;
	color: rgb(122, 134, 173);
	margin-top: 30px;
	margin-bottom: 30px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #333;
    color: #ddd;
    box-shadow: 0 0 40px #03f;
    border-radius: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #003761; 
    opacity: 5;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #18BC9C;
    color: #ddd;
    box-shadow: 0 0 40px rgb(2, 4, 12);
    border-radius: 16px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3); 
  }

  /*==========================================*/
  /*=================Simulador.html=============*/
  /*==========================================*/

  .backgroundSimulador{

    background-image: url('/assets/images/simulador.jpg');
    background-position: center;
    background-size: cover;
    
}